/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/07/2018, 20:58:16
    Author     : Leonardo
*/

@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800|Roboto|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Merienda');

.title{
    font-family: 'Merienda', cursive;
    font-size: 40px;
    color:#8d6c9f;
}

*{
    font-family: 'Roboto Condensed';
}

table{
    width:100%;
    margin:20px 0px;
    /*border-collapse: collapse;*/
}

td, th{
    padding: 15px 10px;
    /*border:2px solid #333; */
}

th{
    background: #8d6c9f;
    color: white;
}

td{
    background:white;
}

html{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color:#111;
}

body{
    background-size: auto;
    background-color:white;
    background:url("../../resources/img/fundo5.jpg") no-repeat fixed;
    background-size:cover;
    padding: 0px;
    margin: 0px;
    margin-top: -20px;
    margin-bottom: -20px;
}

header{
    /*background: rgba(0,0,0,0.2);*/
    background: #faefde;
    border-bottom: 30px solid #8d6c9f;
    color: white;
    height: 90px;
    margin-bottom: 100px;
}

header h2{
    font-family: 'Merienda', cursive;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    text-align: right;
    padding-top: 30px;
    color:#8d6c9f;
}

.logo{
    position: absolute;
    margin-right: 20px;
    margin-top:35px;
}

.logo img{
    height: 150px;
}

.painel{
    padding-left: 0px;
    list-style: none;
    text-align: center;
}

.painel li{
    width: 200px;
    display: inline-flex;
    font-size: 20px;
    padding: 30px;
    margin: 10px;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    border: 3px solid #ccc;
}

.painel img{
    height: 180px;
    width: 180px;
    margin-bottom: 10px;
}

.painel a{
    
}

.login{
  width: 300px;
  margin: 0 auto;
}

.mensagem{
  background: rgba(0,0,0,0.1);
  padding: 50px;
  color: #8d6c9f;
  text-align: center;
  margin-bottom: 50px;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.center{
    text-align: center;
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.equipe{
  text-align: center;
  margin: 0 auto;
  width: 400px;
  background: rgba(255,255,255,0.5);
  padding: 50px;
}

.equipe li::before {
  content: "»";
  color:#8d6c9f;
  font-size: 30px;
  margin-right: 10px;
}

.equipe ul{
  text-align: left;
  list-style: none;
}

.equipe li{
  font-size: 20px;
}

label{
    display:block;
}

form{
    background: rgba(0,0,0,0.1);
    padding:40px;
    padding-top: 10px;
}

form h2{
    font-family: 'Merienda', cursive;
    font-size: 25px;
    color:#8d6c9f;
}

form h5{
  color:#555;
  font-size: 16px;
  float: right;
  font-weight: 100;
}

input,select,textarea{
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom:20px;
    background:white;
    /*border:3px solid #333;*/
    border: 0;
    font-size: 18px;
}

.select-style {
    position: relative;
    width: 100%;
    margin-right: 5px;
}

.select-style select {
    display: none;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #8d6c9f transparent transparent transparent;
}

.select-selected {
    background-color: #fff;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #8d6c9f transparent;
  top: 50%;
}

.select-items div,.select-selected {
  color: grey;
  padding: 22px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height: auto;
  max-height: 250px;
  overflow-y: scroll;
  border: 1px solid #ccc;

}

.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


/*select {
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
      linear-gradient(45deg, transparent 50%, #62afba 50%),
      linear-gradient(135deg, #62afba 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
  background-position:
      calc(100% - 20px) calc(1em + 10px),
      calc(100% - 15px) calc(1em + 10px),
      calc(0% - 2.5em) 10em;
  background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
  background-repeat: no-repeat;
}*/

.btn{
    padding: 20px;
    border:none;
    cursor:pointer;
    font-style: none;
    text-decoration: none;
    background:#8d6c9f;
    color:white;
    font-size: 20px;
    font-family: 'Merienda', cursive;
    transition: all 1s;
}

.btn:hover{
  background: #7b598e;
}

#conteudo{
    margin-bottom: 50px;
    margin-top: 50px;
    min-height: 800px;
}

#footer{
    background: #111;
    color: #8d6c9f;
    font-size: 18px;
    line-height: 100px;
    border-top: 35px solid #8d6c9f;
}

.divide{
    display:flex;
    margin-bottom: 20px;
}

.divide label{
    display:none;
}

.divide input, select{
    margin-right:5px;
    margin-bottom: 0px;
}